<!DOCTYPE html>
<html>
   <head>
    <script data-ad-client="ca-pub-9027433617123617" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" type="image/png" href="https://i.ibb.co/dk6Fwdd/Apptime-new-Branding-dot.png">
	  <title>Apptime</title>
	  <meta property="og:title" content="Apptime">
	  <meta name="og:description" content="Checks the availability of your website in one minute intervals from 30 different locations on 6 continents.">
	  <meta property="og:image" content="https://i.ibb.co/dk6Fwdd/Apptime-new-Branding-dot.png">
	  <meta property="og:url" content="https://www.apptime.tech">
	  <meta name="theme-color" content="#0067f4">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
      <link href="/css/new/plugins.bundle.css" rel="stylesheet" type="text/css" />
      <link href="/css/new/style.bundle.css" rel="stylesheet" type="text/css" />
      <script src="/js/new/plugins.bundle.js"></script>
      <script src="/js/new/scripts.bundle.js"></script>
      <script src="/js/new/widgets.js"></script>
      <script src="/js/new/indicator.js"></script>

      <link rel="stylesheet" href="/css/new/preloader.css">

      <script src="/js/landing/jquery-1.12.4.min.js"></script>
      <script src="/js/landing/modernizr-3.7.1.min.js"></script>
      <script src="/js/landing/popper.min.js"></script>
      <script src="/js/landing/bootstrap.min.js"></script>
      <script src="/js/landing/slick.min.js"></script>
      <script src="/js/landing/jquery.magnific-popup.min.js"></script>
      <script src="/js/landing/ajax-contact.js"></script>
      <script src="/js/landing/imagesloaded.pkgd.min.js"></script>
      <script src="/js/landing/isotope.pkgd.min.js"></script>
      <script src="/js/landing/jquery.easing.min.js"></script>
      <script src="/js/landing/scrolling-nav.js"></script>
      <script src="/js/landing/main.js"></script>

      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous" />   
      <script src="https://hcaptcha.com/1/api.js" async defer></script> 
   </head>
   <body id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_account_settings" data-bs-offset="200" data-bs-target-offset="175" class="position-relative page-loading-enabled page-loading toolbar-enabled aside-fixed aside-default-enabled">
      <div class="preloader">
         <div class="loader">
            <div class="ytp-spinner">
               <div class="ytp-spinner-container">
                  <div class="ytp-spinner-rotator">
                     <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                     </div>
                     <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--<div class="page-loader">
         <span class="spinner-border text-primary" role="status">
         <span class="visually-hidden">Loading...</span>
         </span>
      </div>-->
      <style>
img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.mcard {
background-color: #f5f8fa;
color: #5e6278;
}
.mcard:hover {
background-color: #e4e6ef;
}
.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 640px) {
#ob {text-align:left;text-float:left;align:left}
}
	.online {
	background-color: #50cd89;
	border-radius: 999%;
	width: 8px;
	height: 8px;
	display: inline-block;
    }
	.dnd {
	background-color: #f1416c;
	border-radius: 999%;
	width: 8px;
	height: 8px;
	display: inline-block;
    }
</style>
<script>
var button = document.querySelector("#kt_button_1");
button.addEventListener("click", function() {
    button.setAttribute("data-kt-indicator", "on");
    setTimeout(function() {
        button.removeAttribute("data-kt-indicator");
    }, 3000);
});
</script>

<script>
const form = document.forms.demo;
const checked = form.querySelector('input[name=type]:checked');
console.log(checked.value);
</script>
<script>
window.removeFakeCaptcha = function() {
   document.querySelector('.captcha-fake-field').remove();
}
</script>
<style>
.captcha {
  position: relative;
}
.captcha-fake-field {
  background: transparent;
  bottom: 0;
  border: none;
  display: block;
  height: 1px;
  left: 12px;
  width: 1px;
  position: absolute;
  z-index: -1;
}
.menu-arrow:after, .menu-arrow:hover {
color: #0067f4
}
</style>