<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countdown uuid:<%=id%></title>
    <link rel="icon" type="image/png" href="https://countdown-website.vercel.app/assets/favicon.ico">
<style>body{background-color:black}</style>
</head>
<iframe src="https://countdown-website.vercel.app" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe>
</html>