<title>404 — Apptime</title>
<%- include('parts/head', {bot, user, path}) %>
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-lg-row flex-column-fluid">
				<div class="d-flex flex-column flex-lg-row-fluid py-10">
					<div class="d-flex flex-center flex-column flex-column-fluid">
						<div class="w-lg-600px p-10 p-lg-15 mx-auto">
							<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form">
                                <center>
                                <a href="/" class="mb-15">
                                    <img draggable="false" alt="Logo" src="https://i.ibb.co/HptRZvB/Apptime-new-Branding-delta-grow.png" class="h-60px" />
                                </a>
                                </center>
                                <br><br>
								<div class="mb-10 text-center">
									<h1 class="text-dark mb-3">404 Error: Page not found</h1>
                  <a href="/" class="btn btn-lg btn-primary mt-3">Go Homepage</a>
								</div> 
							</form>
						</div>
					</div>
					<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
						<div class="d-flex flex-center fw-bold fs-6">
							<a href="/#contact" class="text-muted text-hover-primary px-2" target="_blank">Send Mail</a>
              <a href="/#contact" class="text-muted text-hover-primary px-2" target="_blank">Call Phone</a>
						</div>
					</div>
				</div>
			</div>
		</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <br>
   </body>
</html>