<title>Branding — Apptime</title>
<%- include('parts/head', {bot, user, path}) %>
      <div class="d-flex flex-column flex-root">
         <div class="page d-flex flex-row flex-column-fluid">
<%- include('parts/aside', {bot, user, path}) %>
               <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
                  <div class="toolbar" id="kt_toolbar">
                     <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
                        <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
                           <h1 class="text-dark fw-bolder my-1 fs-2">Branding</h1>
                        </div>
                     </div>
                  </div>
                  <div class="container">
                     <div class="card mb-5 mb-xl-10" id="kt_account_settings_connected" data-kt-scroll-offset="{default: 100, md: 125}">
                        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_connected_accounts" aria-expanded="true" aria-controls="kt_account_connected_accounts">
                           <div class="card-title m-0">
                              <h3 class="fw-boldest m-0">Logos</h3>
                           </div>
                        </div>
                        <div id="kt_account_connected_accounts" class="collapse show">
                           <div class="card-body border-top p-9">
<div class="row">
<div class="col-md-4 col-lg-2 col-xl-2">
<a href="https://i.ibb.co/dk6Fwdd/Apptime-new-Branding-dot.png" target="_blank">
<div style="border-radius:5px" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500" class="card-title mt-3">Icon</h5>
</div>
</div>
</a>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<a href="https://i.ibb.co/QFzDd8L/Apptime-new-Branding-dot-bgwhite.png" target="_blank">
<div style="border-radius:5px" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500" class="card-title mt-3">Icon Reverse</h5>
</div>
</div>
</a>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<a href="https://i.ibb.co/HptRZvB/Apptime-new-Branding-delta-grow.png" target="_blank">
<div style="border-radius:5px" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500" class="card-title mt-3">Icon & Text</h5>
</div>
</div>
</a>
</div>
</div>
                           </div>
                        </div>
                     </div>
                     <div class="card" id="kt_account_settings_deactivate" data-kt-scroll-offset="{default: 100, md: 125}">
                      <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_deactivate" aria-expanded="true" aria-controls="kt_account_deactivate">
                         <div class="card-title m-0">
                            <h3 class="fw-boldest m-0">Colors</h3>
                         </div>
                      </div>
                      <div id="kt_account_deactivate" class="collapse show">
                         <form>
                            <div class="card-body border-top p-9">
<div class="row">
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#0067f4;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:white" class="card-title mt-3">#0067f4</h5>
</div>
</div>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#f1416c;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:white" class="card-title mt-3">#f1416c</h5>
</div>
</div>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#50cd89;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:white" class="card-title mt-3">#50cd89</h5>
</div>
</div>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#2d3138;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:white" class="card-title mt-3">#2d3138</h5>
</div>
</div>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#ffffff;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:black" class="card-title mt-3">#ffffff</h5>
</div>
</div>
</div>
<div class="col-md-4 col-lg-2 col-xl-2">
<div style="border:1px solid gray;border-radius:5px;background-color:#f5f8fa;" class="mcard card text-center alert-dismissible fade show alert p-0 card-hover" role="alert">
<div class="p-2 d-block">
<h5 style="font-weight:500;color:black" class="card-title mt-3">#f5f8fa</h5>
</div>
</div>
</div>
</div>
                            </div>
                         </form>
                      </div>
                   </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
<%- include('parts/footer', {bot, user, path}) %>
   </body>
</html>